<hr id="footer">
    <footer>
        <p>&copy; 2024 Aayush Shrestha. All rights reserved.</p>
        <a href="www.instagram.com/aayustha.dmg">Instagram</a>
        <a href="www.lnkedin.com/in/ayz-sth">Linkedin</a>
        <a href="mailto:contact@aayushshrestha.com">Email</a>
    </footer>